h2 {
  font-family: Teko;
  color: #bb9864;
  text-transform: uppercase; }

.sectionTitle {
  font-size: 50px;
  color: #bb9864; }

h1 {
  font-family: Teko;
  color: #444349;
  text-transform: uppercase; }

.nav {
  font-family: Teko;
  font-size: 30px;
  color: white;
  text-transform: uppercase; }

button {
  margin: 0;
  border: 2px #444349 solid;
  padding: 10px 20px;
  font-family: Teko;
  font-size: 25px;
  text-transform: uppercase;
  background: transparent;
  color: #444349;
  cursor: pointer; }

.button :hover {
  background: #bb9864;
  border: 2px #bb9864 solid;
  color: white; }

@font-face {
  font-family: "Teko";
  src: url("../fonts/teko-webfont.eot");
  src: url("../fonts/teko-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/teko-webfont.woff") format("woff"), url("../fonts/teko.ttf") format("truetype");
  src: url("../fonts/teko.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium-webfont.eot");
  src: url("../fonts/montserrat-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-medium-webfont.woff") format("woff"), url("../fonts/montserrat-Medium.ttf") format("truetype");
  src: url("../fonts/montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-mediumitalic-webfont.eot");
  src: url("../fonts/montserrat-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-mediumitalic-webfont.woff") format("woff"), url("../fonts/montserrat-MediumItalic.ttf") format("truetype");
  src: url("../fonts/montserrat-MediumItalic.ttf");
  font-weight: normal;
  font-style: italic; }

body,
h1,
h2,
h3,
h4,
p,
div {
  margin: 0;
  padding: 0;
  font-weight: normal; }

a {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0; }

button {
  line-height: 1;
  padding-bottom: 6px;
  transition: 0.25s ease; }

body {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #444349; }

body:scrollbar-track {
  background-color: #f5f5f5; }

body:scrollbar {
  width: 8px;
  background-color: #95e1d3; }

body:scrollbar-thumb {
  border-radius: 8px;
  background-color: #95e1d3; }

.container {
  width: 1200px;
  margin: 0 auto; }

h1 {
  font-size: 60px; }

.sectionTitle {
  grid-area: sectionTitle1; }

h3 {
  font-family: Teko;
  font-size: 30px;
  color: #444349;
  letter-spacing: 0.06;
  text-transform: uppercase; }

h4 {
  font: italic 14px 'Montserrat'; }

h2 {
  font-family: Teko;
  color: #bb9864;
  text-transform: uppercase; }

.sectionTitle {
  font-size: 50px;
  color: #bb9864; }

h1 {
  font-family: Teko;
  color: #444349;
  text-transform: uppercase; }

.nav {
  font-family: Teko;
  font-size: 30px;
  color: white;
  text-transform: uppercase; }

button {
  margin: 0;
  border: 2px #444349 solid;
  padding: 10px 20px;
  font-family: Teko;
  font-size: 25px;
  text-transform: uppercase;
  background: transparent;
  color: #444349;
  cursor: pointer; }

.button :hover {
  background: #bb9864;
  border: 2px #bb9864 solid;
  color: white; }

.hederup {
  margin-top: 5px;
  display: grid;
  -ms-grid-columns: 1fr 1fr 250px;
  grid-template-columns: 1fr 1fr 250px;
  -ms-grid-columns: 1fr 1fr 250px;
  justify-content: space-around;
  align-items: center; }

.phoneNumber_icon {
  height: 25px;
  width: 35px;
  fill: #444349; }

.phoneNumber {
  -ms-grid-column: 2;
  display: flex;
  justify-self: end;
  -ms-grid-column-align: end; }
  .phoneNumber img {
    margin-right: 10px; }

.header_button {
  -ms-grid-column: 3;
  -ms-grid-column-align: end;
  justify-self: end; }

.header_plaseForMenuButton {
  -ms-grid-column: 4;
  padding: 0 20px;
  width: 40px;
  fill: #444349; }
  .header_plaseForMenuButton svg {
    display: none; }

h2 {
  font-family: Teko;
  color: #bb9864;
  text-transform: uppercase; }

.sectionTitle {
  font-size: 50px;
  color: #bb9864; }

h1 {
  font-family: Teko;
  color: #444349;
  text-transform: uppercase; }

.nav {
  font-family: Teko;
  font-size: 30px;
  color: white;
  text-transform: uppercase; }

button {
  margin: 0;
  border: 2px #444349 solid;
  padding: 10px 20px;
  font-family: Teko;
  font-size: 25px;
  text-transform: uppercase;
  background: transparent;
  color: #444349;
  cursor: pointer; }

.button :hover {
  background: #bb9864;
  border: 2px #bb9864 solid;
  color: white; }

.nav_container {
  background-color: #444349; }

.nav {
  width: 1200px;
  margin: 0 auto; }
  .nav ul {
    margin: 0;
    display: flex;
    justify-content: space-between; }

.menu-item {
  list-style: none; }
  .menu-item a {
    padding: 10px 20px;
    display: block;
    box-sizing: border-box; }
  .menu-item .sub-menu {
    background-color: #444349;
    position: absolute;
    display: none;
    margin: 0;
    padding: 0; }

.menu > li {
  border-top: 4px #444349 solid; }

.menu > li:hover {
  background-color: #575560;
  border-top: 4px #bb9864 solid; }

.current_page_item {
  border-top: 4px #bb9864 solid; }

.menu-item-has-children ul li :hover {
  background-color: #575560;
  border-left: 4px #bb9864 solid; }

h2 {
  font-family: Teko;
  color: #bb9864;
  text-transform: uppercase; }

.sectionTitle {
  font-size: 50px;
  color: #bb9864; }

h1 {
  font-family: Teko;
  color: #444349;
  text-transform: uppercase; }

.nav {
  font-family: Teko;
  font-size: 30px;
  color: white;
  text-transform: uppercase; }

button {
  margin: 0;
  border: 2px #444349 solid;
  padding: 10px 20px;
  font-family: Teko;
  font-size: 25px;
  text-transform: uppercase;
  background: transparent;
  color: #444349;
  cursor: pointer; }

.button :hover {
  background: #bb9864;
  border: 2px #bb9864 solid;
  color: white; }

.firstScreen {
  background-image: url(../images/firstScreen.png) !important;
  background-size: cover;
  height: 400px; }

.firstScreen_content {
  padding-left: 150px; }

.firstScreen_title_text {
  padding: 80px 0 20px 0; }

.firstScreen_suptitle {
  font-size: 25px;
  padding-bottom: 20px; }

.forstScreen_button button {
  font-size: 35px;
  padding: 10px 25px 5px 25px; }

h2 {
  font-family: Teko;
  color: #bb9864;
  text-transform: uppercase; }

.sectionTitle {
  font-size: 50px;
  color: #bb9864; }

h1 {
  font-family: Teko;
  color: #444349;
  text-transform: uppercase; }

.nav {
  font-family: Teko;
  font-size: 30px;
  color: white;
  text-transform: uppercase; }

button {
  margin: 0;
  border: 2px #444349 solid;
  padding: 10px 20px;
  font-family: Teko;
  font-size: 25px;
  text-transform: uppercase;
  background: transparent;
  color: #444349;
  cursor: pointer; }

.button :hover {
  background: #bb9864;
  border: 2px #bb9864 solid;
  color: white; }

.productItems {
  display: flex;
  align-items: center; }

.mobileSlider {
  display: none; }

.titleContainer {
  margin: 60px 0;
  display: grid;
  grid-template: "sectionTitle1 viewMore2 sliderItem3";
  grid-template-columns: auto 1fr 150px;
  justify-content: start;
  align-items: center; }

.sliderItem {
  grid-area: sliderItem3;
  justify-self: end;
  margin-right: 20px;
  display: flex; }

.itemSlide {
  fill: #b3b3b3;
  width: 25px; }
  .itemSlide :hover {
    fill: #444349; }

.Fors {
  transform: scale(-1, 1); }

.viewMore {
  grid-area: viewMore2; }

.viewMore_link {
  margin-left: 60px;
  display: block;
  color: #b3b3b3; }
  .viewMore_link :focus {
    font-size: 20px;
    color: #444349; }

.itemsContainer {
  width: 1200px;
  margin: 0px auto;
  overflow: hidden; }

.itemsContainer_wraper {
  position: relative;
  left: 0px;
  transition: all ease 1s; }

.item {
  float: left;
  text-align: center;
  width: 380px;
  margin: 10px 10px 5px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.itmeImg {
  margin: 20px auto; }

.itemName ::after {
  display: block;
  content: "";
  width: 80%;
  height: 3px;
  background-color: #bb9864;
  margin: 10px auto; }

.itemButton {
  justify-self: center; }

.itemArt {
  margin: 10px auto; }

h2 {
  font-family: Teko;
  color: #bb9864;
  text-transform: uppercase; }

.sectionTitle {
  font-size: 50px;
  color: #bb9864; }

h1 {
  font-family: Teko;
  color: #444349;
  text-transform: uppercase; }

.nav {
  font-family: Teko;
  font-size: 30px;
  color: white;
  text-transform: uppercase; }

button {
  margin: 0;
  border: 2px #444349 solid;
  padding: 10px 20px;
  font-family: Teko;
  font-size: 25px;
  text-transform: uppercase;
  background: transparent;
  color: #444349;
  cursor: pointer; }

.button :hover {
  background: #bb9864;
  border: 2px #bb9864 solid;
  color: white; }

.newsTitle {
  font-size: 40px;
  color: #444349; }

.newsText {
  font-size: 16px;
  line-height: 1.6; }

.newsItem {
  margin-bottom: 80px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template: "a1 a2"; }

.newsContent {
  grid-area: a2; }

.newsText {
  margin-top: 10px;
  height: 200px;
  overflow: hidden; }

.newsFooter {
  display: flex;
  align-items: center;
  margin-top: 10px; }

.newsViews {
  display: flex;
  margin-right: 20px; }
  .newsViews svg {
    margin-right: 10px; }

.newsimgWraper {
  grid-area: a1;
  width: 520px;
  height: 300px;
  position: relative; }

.newsImg {
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.9s ease; }
  .newsImg img {
    display: block; }

.imgFrame {
  position: absolute;
  border: 3px #bb9864 solid;
  width: 495px;
  height: 275px;
  transition: 0.9s ease; }

.bussinesSuptitle {
  grid-area: viewMore2;
  margin-left: 20px;
  font-style: italic;
  font-size: 20px; }

.bussinesItem {
  margin-bottom: 40px;
  display: flex;
  align-items: center; }

.bussinesItem_Img {
  position: relative; }
  .bussinesItem_Img img {
    position: relative;
    z-index: 1; }

.bussinesItem_Img_frame {
  position: absolute;
  top: -13px;
  left: 13px;
  width: 75vw;
  height: 345px;
  border: 4px solid #bb9864;
  transition: 1s; }

.bussinesItem_content {
  display: grid;
  grid-template: "bisNum1 bisCont2";
  margin-left: 50px;
  grid-template-columns: 50px auto; }

.bussinesItem_content_num {
  grid-area: bisNum1;
  font-size: 100px;
  color: #bb9864; }

.bussinesItem_content_text {
  grid-area: bisCont2;
  font-size: 22px;
  font-style: italic; }

h2 {
  font-family: Teko;
  color: #bb9864;
  text-transform: uppercase; }

.sectionTitle {
  font-size: 50px;
  color: #bb9864; }

h1 {
  font-family: Teko;
  color: #444349;
  text-transform: uppercase; }

.nav {
  font-family: Teko;
  font-size: 30px;
  color: white;
  text-transform: uppercase; }

button {
  margin: 0;
  border: 2px #444349 solid;
  padding: 10px 20px;
  font-family: Teko;
  font-size: 25px;
  text-transform: uppercase;
  background: transparent;
  color: #444349;
  cursor: pointer; }

.button :hover {
  background: #bb9864;
  border: 2px #bb9864 solid;
  color: white; }

.quetionForm {
  margin: 0 auto;
  text-align: center;
  height: 500px;
  display: flex;
  align-items: center; }

.quetionForm_Img {
  position: relative; }

.quetionForm_Img img {
  width: 450px;
  height: 450px;
  position: relative;
  z-index: 1; }

.quetionForm_Img_frame {
  position: absolute;
  width: 425px;
  height: 425px;
  border: 4px #bb9864 solid;
  top: -5px;
  left: 20px;
  transition: 1s ease; }

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0; }

input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(1rem); }

.quetionForm_form {
  position: relative;
  z-index: 1;
  width: 400px;
  height: 300px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.quetionForm_title {
  font-size: 45px;
  padding-bottom: 20px; }

.formInput {
  margin-top: 16px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1px;
  width: 350px;
  border: 0;
  background-color: white;
  border-bottom: 1px #b3b3b3 solid;
  resize: none;
  overflow: hidden;
  box-shadow: 0 0 0 30px white inset !important; }
  .formInput textarea {
    resize: none !important; }

.formInput_textarea {
  resize: none !important; }
  .formInput_textarea textarea {
    resize: none !important; }

h2 {
  font-family: Teko;
  color: #bb9864;
  text-transform: uppercase; }

.sectionTitle {
  font-size: 50px;
  color: #bb9864; }

h1 {
  font-family: Teko;
  color: #444349;
  text-transform: uppercase; }

.nav {
  font-family: Teko;
  font-size: 30px;
  color: white;
  text-transform: uppercase; }

button {
  margin: 0;
  border: 2px #444349 solid;
  padding: 10px 20px;
  font-family: Teko;
  font-size: 25px;
  text-transform: uppercase;
  background: transparent;
  color: #444349;
  cursor: pointer; }

.button :hover {
  background: #bb9864;
  border: 2px #bb9864 solid;
  color: white; }

.footerContainer {
  padding-top: 40px;
  display: grid;
  grid-template: "footerContact1 footerNews2  footerLinks3";
  grid-template-columns: 250px 1fr 1fr; }

.footerTitle {
  color: white;
  margin-bottom: 20px; }

.footerGgrayBg {
  background: #444349; }

.footerText {
  padding-top: 15px;
  display: flex;
  align-items: center;
  color: white; }
  .footerText svg {
    margin-right: 10px; }

.footerIcon {
  fill: #bb9864;
  height: 20px;
  width: 20px; }

.footerContact {
  grid-area: footerContact1; }

.footerLinks {
  grid-area: footerLinks3; }

.footerNews {
  grid-area: footerNews2; }

.footerNewItem {
  margin-bottom: 20px;
  position: relative;
  display: flex; }

.footerNewItem_Img img {
  position: relative;
  width: 150px;
  z-index: 1; }

.footerNewItem_Img_frame {
  position: absolute;
  border: 3px #bb9864 solid;
  width: 145px;
  height: 80px;
  top: -7px;
  left: -7px;
  transition: 0.9s ease; }

.footerNewItem_content {
  padding-left: 10px;
  padding-top: 5px;
  color: white; }

.footerNewItem_title {
  text-transform: uppercase; }

.footerNewItem_view {
  padding-top: 10px; }
  .footerNewItem_view svg {
    fill: white;
    width: 20px;
    padding-right: 5px; }

.footerButtons {
  display: flex; }

.footerButton {
  color: white; }
  .footerButton :first-child {
    margin-right: 10px; }
  .footerButton button {
    font-size: 20px;
    color: white;
    border: white 2px solid; }

.footerButtonIcon {
  height: 15px;
  fill: white;
  width: 15px; }

.footerNav_ul {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 25px 25px 25px;
  color: #bb9864;
  margin: 0;
  padding: 15px; }

.footerNav_li {
  color: #bb9864; }
  .footerNav_li span {
    display: block;
    color: white; }
    .footerNav_li span :hover {
      color: #bb9864 !important; }

.footerNav_li span:hover {
  color: #bb9864 !important; }

.copiright {
  background-color: #3b3a3d; }

.copiright_text {
  text-align: center;
  padding: 10px;
  color: #b3b3b3; }

@media (max-width: 1250px) {
  .container {
    width: auto;
    padding: 0 40px; } }

h2 {
  font-family: Teko;
  color: #bb9864;
  text-transform: uppercase; }

.sectionTitle {
  font-size: 50px;
  color: #bb9864; }

h1 {
  font-family: Teko;
  color: #444349;
  text-transform: uppercase; }

.nav {
  font-family: Teko;
  font-size: 30px;
  color: white;
  text-transform: uppercase; }

button {
  margin: 0;
  border: 2px #444349 solid;
  padding: 10px 20px;
  font-family: Teko;
  font-size: 25px;
  text-transform: uppercase;
  background: transparent;
  color: #444349;
  cursor: pointer; }

.button :hover {
  background: #bb9864;
  border: 2px #bb9864 solid;
  color: white; }

@media (max-width: 1250px) {
  .nav {
    width: auto; }
  .itemsContainer {
    width: 800px; } }

@media (max-width: 900px) {
  .hederup {
    -ms-grid-columns: 1fr 1fr 250px auto;
    grid-template-columns: 1fr 1fr 250px auto;
    position: fixed;
    z-index: 3;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .header_plaseForMenuButton svg {
    display: block; }
  .nav_container {
    display: none; }
  .nav ul {
    padding: 0;
    flex-direction: column; }
    .nav ul li {
      padding: 0 10px;
      border-bottom: 2px #b3b3b3 solid; } }

@media (max-width: 750px) {
  .hederup {
    -ms-grid-columns: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr auto; } }

@media (max-width: 660px) {
  .hederup {
    -ms-grid-columns: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr auto; }
  .connectMeBt {
    display: none; } }

@media (max-width: 480px) {
  .hederup {
    -ms-grid-columns: 1fr 50px;
    grid-auto-columns: 1fr 50px; }
  .header_plaseForMenuButton {
    justify-self: end; }
  .phoneNumber {
    display: none; } }

@media (max-width: 440px) {
  .hederup {
    -ms-grid-columns: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr auto; } }

.togleSideMenu {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 65px;
  height: 95vh;
  display: block; }

@media (max-width: 1100px) {
  .firstScreen_content {
    padding-left: 50px; } }

@media (max-width: 900px) {
  .firstScreen_content {
    padding-left: 50px; }
  .firstScreen {
    background: url(../images/firstScreen.png) center no-repeat;
    background-size: cover;
    height: 80vh; } }

@media (max-width: 660px) {
  .firstScreen_content {
    padding-left: 0px; } }

@media (max-width: 600px) {
  .firstScreen {
    height: 400px;
    background: url(../images/firstScreenMob.png) left; } }

@media (min-width: 1500px) {
  .firstScreen {
    height: 700px; } }

@media (max-width: 900px) {
  .itemsContainer {
    width: 400px; }
  .titleContainer {
    margin: 30px 0;
    grid-template: "sectionTitle1 viewMore2";
    grid-template-columns: auto 1fr;
    justify-content: start;
    align-items: center; }
  .viewMore_link {
    margin-left: 30px; }
  .sliderItem {
    display: none; } }

@media (max-width: 480px) {
  .item {
    width: 280px; } }

@media (max-width: 440px) {
  .titleContainer {
    margin: 30px 0;
    grid-template: "sectionTitle1" "viewMore2";
    justify-content: start;
    align-items: center; }
  .viewMore_link {
    margin-left: 0px; } }

@media (max-width: 1100px) {
  .newsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .newsItem {
    margin-bottom: 80px;
    display: grid;
    grid-gap: 20px;
    grid-template: "a1" "a2";
    max-width: 40vw; }
  .newsimgWraper {
    width: 40vw;
    height: 22vw;
    position: relative; }
  .newsImg {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.9s ease; }
    .newsImg img {
      width: 38vw;
      height: 19vw;
      display: block; }
  .imgFrame {
    position: absolute;
    width: 38vw;
    height: 19vw;
    transition: 0.9s ease; }
  .newsContent {
    max-width: 40vw; } }

@media (max-width: 900px) {
  .newsContainer {
    margin-top: 130px; }
  .newsItem {
    flex-direction: column;
    max-width: 90vw; }
  .newsimgWraper {
    width: 85vw;
    height: 42vw; }
  .newsImg img {
    width: 83vw;
    height: 49vw;
    display: block; }
  .imgFrame {
    position: absolute;
    width: 83vw;
    height: 49vw; }
  .newsContent {
    max-width: 90vw; }
  .newsItem {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template: "a1" "a2"; } }

@media (max-width: 750px) {
  .newsContainer {
    margin-top: 100px; } }

@media (max-width: 660px) {
  .newsContainer {
    margin-top: 80px; } }

@media (max-width: 600px) {
  .newsContainer {
    margin-top: 30px; }
  .newsimgWraper {
    margin: 0 auto;
    width: 84vw;
    height: 48vw; }
  .newsImg img {
    width: 80vw; }
  .imgFrame {
    width: 80vw;
    height: 45vw; } }

@media (max-width: 430px) {
  .newsViews {
    display: none; }
  .newsFooter {
    justify-items: center; }
  .buttonNews button {
    width: 88vw; } }

@media (max-width: 900px) {
  .bussinesItem_content {
    margin-left: 0px; }
  .bussinesItem {
    flex-direction: column; } }

@media (max-width: 660px) {
  .bussinesItem_Img img {
    width: 80vw; }
  .bussinesItem_Img_frame {
    width: 76vw;
    height: 50vw; } }

@media (max-width: 500px) {
  .bussinesItem_content_num {
    font-size: 60px; }
  .bussinesItem_content_text {
    font-size: 16px; } }

@media (max-width: 900px) {
  .quetionForm {
    margin-bottom: 50%; }
  .quetionForm_Img {
    max-width: 100px; }
    .quetionForm_Img img {
      height: auto; } }

@media (max-width: 600px) {
  #quetionForm {
    position: relative;
    right: -50%;
    transform: translateX(-50%); }
  .quetionForm {
    width: 90vw;
    height: auto; }
  .quetionForm_form {
    padding: 20px;
    margin: 0; }
  .quetionForm_Img {
    display: none; } }

@media (max-width: 480px) {
  .quetionForm {
    margin: 0 auto;
    width: 70vw; }
  .quetionForm_form {
    width: 65vw; }
  .formInput {
    width: 55vw; } }

@media (max-width: 1250px) {
  .footerContainer {
    padding-top: 40px;
    display: grid;
    grid-template: "footerContact1   footerLinks3";
    grid-template-columns: 250px 1fr; }
  .footerNews {
    display: none; } }

@media (max-width: 750px) {
  .footerContainer {
    grid-template: "footerLinks3" "footerContact1";
    grid-template-rows: auto auto;
    justify-items: center; }
  .footerTitle {
    display: none; }
  .footerLinks_nav {
    display: none; }
  .whatsappButton {
    margin-top: 20px; }
    .whatsappButton button {
      width: 80vw; }
  .footerContact {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; }
  .footerText {
    justify-self: end;
    padding-right: 20px; }
  .footerNumber {
    display: none; }
  .connectMeBt {
    display: none; } }

body {
  background-color: #d62158; }

/*# sourceMappingURL=all.css.map */
