@media (max-width: 1250px) {
  .nav {
    width: auto; }
  .itemsContainer {
    width: 800px; } }

@media (max-width: 900px) {
  .hederup {
    -ms-grid-columns: 1fr 1fr 250px auto;
    grid-template-columns: 1fr 1fr 250px auto;
    position: fixed;
    z-index: 3;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .header_plaseForMenuButton svg {
    display: block; }
  .nav_container {
    display: none; }
  .nav ul {
    padding: 0;
    flex-direction: column; }
    .nav ul li {
      padding: 0 10px;
      border-bottom: 2px #b3b3b3 solid; } }

@media (max-width: 750px) {
  .hederup {
    -ms-grid-columns: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr auto; } }

@media (max-width: 660px) {
  .hederup {
    -ms-grid-columns: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr auto; }
  .connectMeBt {
    display: none; } }

@media (max-width: 480px) {
  .hederup {
    -ms-grid-columns: 1fr 50px;
    grid-auto-columns: 1fr 50px; }
  .header_plaseForMenuButton {
    justify-self: end; }
  .phoneNumber {
    display: none; } }

@media (max-width: 440px) {
  .hederup {
    -ms-grid-columns: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr auto; } }

.togleSideMenu {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 65px;
  height: 95vh;
  display: block; }

@media (max-width: 1100px) {
  .firstScreen_content {
    padding-left: 50px; } }

@media (max-width: 900px) {
  .firstScreen_content {
    padding-left: 50px; }
  .firstScreen {
    background: url(../images/firstScreen.png) center no-repeat;
    background-size: cover;
    height: 80vh; } }

@media (max-width: 660px) {
  .firstScreen_content {
    padding-left: 0px; } }

@media (max-width: 600px) {
  .firstScreen {
    height: 400px;
    background: url(../images/firstScreenMob.png) left; } }

@media (min-width: 1500px) {
  .firstScreen {
    height: 700px; } }

@media (max-width: 900px) {
  .itemsContainer {
    width: 400px; }
  .titleContainer {
    margin: 30px 0;
    grid-template: "sectionTitle1 viewMore2";
    grid-template-columns: auto 1fr;
    justify-content: start;
    align-items: center; }
  .viewMore_link {
    margin-left: 30px; }
  .sliderItem {
    display: none; } }

@media (max-width: 480px) {
  .item {
    width: 280px; } }

@media (max-width: 440px) {
  .titleContainer {
    margin: 30px 0;
    grid-template: "sectionTitle1" "viewMore2";
    justify-content: start;
    align-items: center; }
  .viewMore_link {
    margin-left: 0px; } }

@media (max-width: 1100px) {
  .newsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .newsItem {
    margin-bottom: 80px;
    display: grid;
    grid-gap: 20px;
    grid-template: "a1" "a2";
    max-width: 40vw; }
  .newsimgWraper {
    width: 40vw;
    height: 22vw;
    position: relative; }
  .newsImg {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.9s ease; }
    .newsImg img {
      width: 38vw;
      height: 19vw;
      display: block; }
  .imgFrame {
    position: absolute;
    width: 38vw;
    height: 19vw;
    transition: 0.9s ease; }
  .newsContent {
    max-width: 40vw; } }

@media (max-width: 900px) {
  .newsContainer {
    margin-top: 130px; }
  .newsItem {
    flex-direction: column;
    max-width: 90vw; }
  .newsimgWraper {
    width: 85vw;
    height: 42vw; }
  .newsImg img {
    width: 83vw;
    height: 49vw;
    display: block; }
  .imgFrame {
    position: absolute;
    width: 83vw;
    height: 49vw; }
  .newsContent {
    max-width: 90vw; }
  .newsItem {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template: "a1" "a2"; } }

@media (max-width: 750px) {
  .newsContainer {
    margin-top: 100px; } }

@media (max-width: 660px) {
  .newsContainer {
    margin-top: 80px; } }

@media (max-width: 600px) {
  .newsContainer {
    margin-top: 30px; }
  .newsimgWraper {
    margin: 0 auto;
    width: 84vw;
    height: 48vw; }
  .newsImg img {
    width: 80vw; }
  .imgFrame {
    width: 80vw;
    height: 45vw; } }

@media (max-width: 900px) {
  .bussinesItem {
    flex-direction: column; } }

@media (max-width: 660px) {
  .bussinesItem_Img img {
    width: 80vw; }
  .bussinesItem_Img_frame {
    width: 80vw; } }

@media (max-width: 900px) {
  .quetionForm {
    margin-bottom: 50%; }
  .quetionForm_Img {
    max-width: 100px; }
    .quetionForm_Img img {
      height: auto; } }

@media (max-width: 600px) {
  #quetionForm {
    position: relative;
    right: -50%;
    transform: translateX(-50%); }
  .quetionForm {
    width: 90vw;
    height: auto; }
  .quetionForm_form {
    padding: 20px;
    margin: 0; }
  .quetionForm_Img {
    display: none; } }

@media (max-width: 480px) {
  .quetionForm {
    margin: 0 auto;
    width: 70vw; }
  .quetionForm_form {
    width: 65vw; }
  .formInput {
    width: 55vw; } }

@media (max-width: 1250px) {
  .footerContainer {
    padding-top: 40px;
    display: grid;
    grid-template: "footerContact1   footerLinks3";
    grid-template-columns: 250px 1fr; }
  .footerNews {
    display: none; } }

@media (max-width: 750px) {
  .footerContainer {
    grid-template: "footerLinks3" "footerContact1";
    grid-template-rows: auto auto;
    justify-items: center; }
  .footerTitle {
    display: none; }
  .footerLinks_nav {
    display: none; }
  .whatsappButton button {
    width: 80vw; }
  .footerContact {
    display: flex;
    flex-wrap: wrap; }
  .footerText {
    justify-self: end;
    padding-right: 20px; }
  .footerNumber {
    display: none; }
  .connectMeBt {
    display: none; } }

@media (max-width: 480px) {
  .newsFooter {
    flex-direction: column; } }

@media (max-width: 1250px) {
  .container {
    width: auto;
    padding: 0 40px; } }

/*# sourceMappingURL=media.css.map */
