@import "variables";
@import 'fonts';
@import 'clearDefaultStyle';

button {
  @extend %b;
  line-height: 1;
  padding-bottom: 6px;
  transition: 0.25s ease;
}

.button {
  :hover {
    @extend %bhover;
  }
}

body {
  font-family: 'Montserrat';
  font-size: 16px;
  color: $gray;
}

//Scroll decoration customize
body:scrollbar-track {
  background-color: #f5f5f5;
}

body:scrollbar {
  width: 8px;
  background-color: #95e1d3;
}

body:scrollbar-thumb {   
  border-radius: 8px;
  background-color: #95e1d3;
}

// Is container for all page
.container {
  width: 1200px;
  margin: 0 auto;
}

//For customize a title of section
h1 {
  @extend %gTitle;
  font-size: 60px;
}
h2 {
  @extend %title;
}
.sectionTitle {
  @extend %goldTitle;
  grid-area: sectionTitle1;
}
h3 {
  font-family: Teko;
  font-size: 30px;
  color: $gray;
  letter-spacing: 0.06;
  text-transform: uppercase;
}
//for link of more item
h4 {
  font: italic 14px 'Montserrat';
}


/*
@import 'modules/headerUp';
@import 'modules/navigationMenu';
@import 'modules/firstScreen';
@import 'modules/products';
@import 'modules/news';
@import 'modules/bussines';
@import 'modules/footer';
@import 'modules/form';