@media (max-width: 900px) {
  .bussinesItem {
    flex-direction: column;
  }
} //900

@media (max-width: 660px) {
  .bussinesItem_Img {
    img {
      width: 80vw;
    }
  }
  .bussinesItem_Img_frame {
    width: 80vw;
  }
} //660

