@media (max-width: 900px) {
  .bussinesItem_content{
    margin-left: 0px;
  }
  .bussinesItem {
    flex-direction: column;
  }
} //900

@media (max-width: 660px) {
  .bussinesItem_Img {
    img {
      width: 80vw;
    }
  }
  .bussinesItem_Img_frame {
    width: 76vw;
    height: 50vw;
  }

} //660
@media (max-width: 500px){
  .bussinesItem_content_num{
    font-size: 60px;
  }
  .bussinesItem_content_text{
    font-size: 16px;
  }

}
