@media (max-width: 1100px) {
  .firstScreen_content {
    padding-left: 50px;
  }
} //1100

@media (max-width: 900px) {
  .firstScreen_content {
    padding-left: 50px;
  }
  .firstScreen {
    background: url(../images/firstScreen.png) center no-repeat;
    background-size: cover;
    height: 80vh;
  }
} //900

@media (max-width: 660px) {
  .firstScreen_content {
    padding-left: 0px;
  }
} //660

@media (max-width: 600px) {
  .firstScreen {
    
    background: url(../images/firstScreen400.png) center no-repeat;
    //background-size: cover;
    height: 400px;
  }
} //600

@media (min-width: 1500px) {
  .firstScreen {
    height: 700px;
  }
}//1500