.bussinesSuptitle {
  grid-area: viewMore2;
  margin-left: 20px;
  font-style: italic;
  font-size: 20px;
}

.bussinesItem {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.bussinesItem_Img {
  position: relative;
  img {
    position: relative;
    z-index: 1;
  }
}

.bussinesItem_Img_frame {
  position: absolute;
  top: -13px;
  left: 13px;
  width: 520px;
  height: 345px;
  border: 4px solid #bb9864;
  transition: 1s;
}

.bussinesItem_content {
  display: grid;
  grid-template: "bisNum1 bisCont2";
  margin-left: 50px;
  grid-template-columns: 50px auto;
}

.bussinesItem_content_num {
  grid-area: bisNum1;
  font-size: 100px;
  color: #bb9864;
}

.bussinesItem_content_text {
  grid-area: bisCont2;
  font-size: 22px;
  font-style: italic;
}
