$gray: #444349; //main gray color
$lightGray: #b3b3b3;
$gold: #bb9864; //main gold color

//for title of Section
%title {
    font-family: Teko;
    color: $gold;
    text-transform: uppercase;
  }
  //for gold title of section
  %goldTitle {
    font-size: 50px;
    color: $gold;
  }
  //for gray title
  %gTitle {
    font-family: Teko;
    color: $gray;
    text-transform: uppercase;
  }
  //for white title nav menu
  %wTitle {
    font-family: Teko;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
  }
  
  //for button doesn`t hovered
  %b {
    margin: 0;
    border: 2px $gray solid;
    padding: 10px 20px;
    font-family: Teko;
    font-size: 25px;
    text-transform: uppercase;
    background: transparent;
    color: $gray;
    cursor: pointer;
  }
  %bhover {
    background: $gold;
    border: 2px $gold solid;
    color: white;
  }